/* DEFAULT  */

*{    

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{

    font-family: 'PT Sans', sans-serif;

}

img{

max-width: 100%;


}



/* ROOT Rules*/
:root{

    --primary-col: #0884fd; 
    --primary-col-light: #b5ddff; 
    --secondary-col: #9792e4; 
    --secondary-col-light: #d5d4f4;
     
     --text-col: #111; 
     --white-col: #fff; 
     --dark-gray: #333; 

}



/* HEADER SETINGS  */

header{

    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #0884fd;


}

.container{

    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 768px;

}

header ul{

   display: none;

}


header ul li {

    display: inline-block;

}

 .fa-bars:before{

    color: white;

 }







/* MEDIA QUERY TABLET 768px  */
@media  screen and (min-width: 768px) {
    





}




/* MEDIA QUERY DESKTOP 992px */

@media screen and (min-width: 992px){



    /* HEADER Section  */

    header ul {

       display: inline-block;
    
    }

    header .fa-bars:before{

        display: none;
        
    }
  
    .menu-list{

        order: 3;

    }



}




/* MEDIA QUERY LARGE DESKTOP 1200px */

@media screen and (min-width: 1200px) {
    

  



}







/* Utility  */


.text-white{

   color: var(--white-col);

}


