/* DEFAULT  */

*{    

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{

    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

img{

max-width: 100%;


}



/* ROOT Rules*/
:root{

    --primary-col: #0884fd; 
    --primary-col-light: #b5ddff; 
    --secondary-col: #9792e4; 
    --secondary-col-light: #d5d4f4;
     
     --text-col: #111; 
     --white-col: #fff; 
     --dark-gray: #333; 

}



/* HEADER SETINGS  */

header{

    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #0884fd;

}

nav{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.container{

    width: 90%;
    height: 100%;
    margin: 0 auto;
    max-width: 950px;

}

header ul{

   display: none;

}


header ul li {

    display: inline-block;
    margin-left: 1rem;

}

 .fa-bars:before{

    color: white;

 }

.menu-list a{

color: #fff;
text-decoration: none;

} 





/* Setting section1 */

.section-1{

    position: relative;
    top: 15vh; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 10rem;

}

.card{
     
     padding: 1.5rem;
     width: 100%;  
     border-radius: 30px;
     text-align: center;
     line-height: 1.8rem;
     background-color: var(--primary-col-light);
  
}

.card h2{

  color: #0884fd;
  margin-bottom: 20px;

}

.card p{

margin-top: 20px;
margin-bottom: 20px;

}

.card:first-child{

text-align: left;
padding-bottom: 0;
display: flex;
flex-wrap: wrap;
align-items: flex-end;

}

.card div:last-child{

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
}





.card img{

 margin-top: 30px;

}

.fa-file-code:before , .fa-compass-drafting:before , .fa-laptop-code:before , .fa-bullhorn:before{

  display: block;
  transform: scale(4.5);
  color: #0884fd;
  padding-top: 10px;
 margin-bottom: 60px;

}





/* SETTING SECTION 2  */

.section-2 {

  background-color: var(--secondary-col);
padding-bottom: 20px;


}

.card-s2{

  line-height: 35px;

}

.card-s2 img , .card-s2 h2 , .card-s2 p{

margin-bottom: 15px;

}

.card-s2:first-child{

  padding: 10px;


}

.card-s2:last-child{

background-color: #fff;
border-radius: 7em;
text-align: center;
padding: 2rem;
margin-top: 50px;
margin-bottom: 50px;
}

/* SETTING SECTION 3  */


.section-3{

margin-top: 20px;
  width: 100%;  
  text-align: center;
 

}



.card-s3{


border-radius: 20px;
background-color: #9792e4;
padding: 10px;
margin-bottom: 20px;

}

.card-s3:first-child{


background-color: var(--secondary-col-light);
display: contents;


}

.card-s3:first-child h5, .card-s3:first-child h2 , .card-s3:first-child p {

margin-bottom: 10px;

} 

.card-s3:first-child p{

  color: #111;

}





.card-s3 h3 , .card-s3 p {

 color: #fff;

 margin-bottom: 10px;


}





.card-s3 img {


    width: 20vw;
    height: 20vw;
    border-radius: 50%;
  
} 

/* SETTING SECTION 4  */


.section-4 {

  text-align: center;
  background-color: #9792e4;
  margin-top: 30px;
  color: #9792e4;
  padding-bottom: 20px;
  padding-top: 30px;

}


.cards-s4{


  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;

}

.card-s4{

  padding: 1rem;
  width: 100%;
  text-align: left;
  background-color: white;
   border-radius: 20px;
}

.card-s4 h3{

 font-size: xx-large;

}

.section-4 h2{

 margin-bottom: 30px;

}

.card-s4 h3 , .card-s4 h4 , .card-s4 p {

margin-bottom: 10px; 

}

.card-s4 span {

display: inline-block;
margin-top: 10px;

}





/* SETTING SECTION 5  */


.section-5{

    margin-top: 50px;

}

.card-s5 img{

    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card-s5 p{

margin-top: 15px;
margin-bottom: 50px;
line-height: 2rem;

}

.card-s5 span {

   display: inline-block;
   margin-top: 20px;

}

.card-s5 h3{

    font-size: x-large;
    width: 50%;

}

.img-comm{

position: relative;
width: 50%;

}



.fa-quote-left:before{
    
    position: absolute;
    top: 0px;
    position: absolute;
    left: 16vw;
    display: inline-block;
    transform: scale(3.5);

}





/* SETTING SECTION 6  */

.section-6{

 margin-top: 50px;
 text-align: center;
 background-color: #9792e4;
 color: #fff;
  padding-top: 20px;


}

.section-6 h4{

font-weight: 100;
color: rgba(255, 255, 255, 0.74);

}

.section-6 h4, .section-6 h3, 
.section-6 h2, .section-6 p{

margin-bottom: 20px;

}

.section-6 span{

display: inline-block;
margin-bottom: 10px;

}

.section-6 p{

line-height: 1.5em;

}



.section-6 h2 {

 color: rgb(224, 224, 85);
font-size: 70px;

}

.section-6 h3{

  padding-left: 25%;
  padding-right: 25%;

}

#cpy{

  padding-right: 18%;
  padding-left: 18%;

}


/* SETTING FOOTER  */

footer{


background-color: #333;
color: #fff;
text-align: center;
padding-bottom: 30px;
padding-top: 30px;

}

footer p {

margin-bottom: 25px;


}










/* START SETTING OF MEDIA QUERY  */


/* MEDIA QUERY TABLET 768px  */
@media  screen and (min-width: 768px) {
    

/* Setting section-1 */


.section-1{

gap: 1.5rem;


}

.card:first-child{

    width: calc(100% / 3 * 2 - 1.5rem / 3 );


}


.card{

    width: calc(100% / 3 - ( 1.5rem * 2 / 3 ) );    

}


/* SETTING Section 3  */


.card-s3{

display: flex;
justify-content: center;
align-items: center;
text-align: left;

}

.card-s3:first-child{

text-align: center;    

}

.card-s3 img {

margin-right: 10px;


}



/* SETTING SECTION 4  */




.cards-s4{

 column-gap: 1rem;
    
}


.card-s4{

  width: calc(100% / 2 - 1rem);

}


/* SETTING SECTION 5 */



.card-s5:first-child{

  width: 90%;

}

.section-5 .container{

display: flex;
column-gap: 40px;

}

.card-s5:last-child{

display: flex;
justify-content: flex-end

}

.card-s5:last-child div{

width: 90%; 

}







}




/* MEDIA QUERY DESKTOP 992px */

@media screen and (min-width: 992px){



    /* HEADER Section  */

    header ul {

       display: inline-block;
    
    }

    header .fa-bars:before{

        display: none;
        
    }
  
    .menu-list{

        order: 3;

    }


/* SETTING SECTION 1  */

.card:first-child{

   flex-wrap: nowrap;
   align-items: inherit;

}

.card:first-child div{

width: 50%;

}

.card:first-child div:last-child img {

height: 90%;

}



/* SETTING section2  */


.section-2 .container{

display: flex;

}

.card-s2{

width: 50%;

}

.card-s2:last-child{

    transform: scale(0.7);

}





/* SETTING SECTION 4  */


.card-s4{

  width: calc(100% / 3 - 1rem);



}





}















/* MEDIA QUERY LARGE DESKTOP 1200px */

@media screen and (min-width: 1200px) {
    

  



}







/* Utility  */


.text-white{

   color: var(--white-col);

}


.text-black{

  color: #111;

}

.text-gray{

 color: var(--dark-gray);

}



.back-white{

background-color: var(--white-col);

}

.back-blue{

  background-color:#0884fd;  

}

.btn{

  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 1rem;

}

.no-line{

  text-decoration: none;  

}

.btn-long{

  padding-left: 4em;
  padding-right: 4em;


}


.btn-circle{

   display: inline-block;
   height: 50px;
   width: 50px;
   border-radius: 50%;
   line-height: 50px;
   text-align: center;
    background-color: #9792e4;
    
}

.text-9792e4{

  color: #9792e4;

}

.back-9792e4{

 background-color: #9792e4;

}

